@import "partials/base";

.wrapper {
    @include blueprint(true);    
    @include container;

    .header {
        @include column(24, true);
        text-align: center;
        .app_name {
            @include column(24, true);
            font-size: 180%;
            a {
              text-decoration: none;
              .name_quick { color: #777;} 
              .name_todo { color: #990080;} 
            }
        }
        a {
            color: #06c;
        }
    }
    
    .footer {
        @include column(24, true);
        text-align: center;
        margin-top: 70px;
        a {
          color: #06C;
        }
        img {
          vertical-align: middle;
        }
    }
    
    .notice {
      @include column(23, true); 
      text-align: center;
      font-weight: bold;
    }

    .content {
        @include column(24, true);
        .actions {
            text-align: center;
            margin-top: 3em;
            .create_todo {
                @include fancy-button(#329E00, 18px, 3px);
            }
        }
       

        .new_todo {
            @include column(24,true);
            margin-top: 4em;
            .todo_label {
                font-size: 160%;
                font-family: serif;
                
            }
            .todo_name {
                @include span(23,true);
                input[type=text] {
                    width: 100%;
                }
            }
            .tasks {
                margin-top: 3em;
                .tasks_title {
                    font-size: 160%;
                    font-family: serif;
                }
                @include span(24,true);
                .task {
                    @include span(24, true);
                    vertical-align: middle;
                    input[type=text] {
                        width: 90%;
                    }
                    a {
                        img {
                          vertical-align: middle;
                        }
                    }
                }
            }
            .add_task {
                a {
                  color: #06C;
                  font-size: 120%;
                } 
            }
        }  
    }
    
    .show_todo {
        @include column(24,true);
        margin-top: 20px;
        .todo_name{
            font-size: 160%;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .task {
            @include column(24,true);
            margin-top: 20px;
            font-size: 160%;
            .task_arrow {
                @include column(2);
            }
            .task_name {
                @include column(22,true);
                cursor: pointer;
            }
        }
    }
}

.striken{
    color: #888;
    text-decoration: line-through;
}

#error_explanation{
    @include column(24, true);
    color: #B30000;
    font-size: 160%;
}